*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    margin-left: 70px;
}
img{
    height: 80%;
    width: 80%;
}
body{
    height: 80vh;
    width: 90%;
}
.box{
    text-align: center;
    display: inline-block;
    max-width: 700px;
    width: 100%; 
    margin: 0 auto; 
    padding: 0px;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 40px;
}
dl{
    font-size: 30px;
}   